.row div{
    margin: 0.25rem;
}

.col-sm{
    background-color: blue;
}

.col-md{
    background-color: blueviolet;
}

.col-lg{
    background-color: chartreuse;
}

.col-xl{
    background-color: darkgoldenrod;
}